[Unit]
Description=Mobile Alerts Proxy Server
Documentation=https://github.com/sarnau/MMMMobileAlerts/tree/master/maserver
After=network.target

[Service]

User=root
Group=root

WorkingDirectory=/home/maty/git/MMMMobileAlerts/maserver/
ExecStart=/usr/bin/node /home/maty/git/MMMMobileAlerts/maserver/mobilealerts.js

RestartSec=4
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=maserver

[Install]
WantedBy=multi-user.target

